.searchPokemon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-height: 80vh;
    overflow: scroll;
    top: 0;
    z-index: 999;
    background-color: #1c1c1e;
    border-radius: 0px 0px 8px 8px;
    margin: 1rem 0rem;
    border-radius: 8px;
}
.searchPokemon-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;   
}
.searchPokemon-list_item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 0em;
}
.searchPokemon-list_item a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.categoriesPokemon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 1.4rem;
}
.categoriesPokemon h2{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    text-align:left ;
}
.categoriesPokemon-cards{  
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;  
    grid-gap: 1rem;
    width: 100%;
    height: auto;
    margin-top: 1.4rem;
}
.categoriesPokemon-cards a{ 
    display: flex;
    justify-content: center;
    align-items: center;
} 