.categoryPokemon-container_cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 1em 0em ;
    padding: 0;
}