.favorites-pokemons{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 1rem 0rem 0rem 0rem;
}
.add-Pokemon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    padding: 0em 0.5em 5.5em 0em;
    position: fixed;
}