header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin: 0rem 0rem 0.5rem 0rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
}
header a .header-logo{
    width: auto;
    height: 50px;
}