.tabObservationPokemon-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height: auto;
    margin: 0rem 1rem 0.5rem 0rem;
    padding: 0;
}
.tabObservationPokemon-container strong{
    font-size: 0.9rem;
    margin: 0 0 0 0.5em;
    font-weight: 600;
}
.tabObservationPokemon-container p{
    font-size: 0.9rem;
    margin: 0;
    font-weight: 500;
    margin: 0 0 0 0.5em;
    color: var(--text-secundary);
}
